* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-image: url("./assets/img/tomas-navikas-closed-doors.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  position: relative;
}

:root {
  --color-white: #fff;
  --color-button: #61bd4f;
  --color-red: rgb(114,43,29,.75)
}